<div class="listMedia">
    <md-button data-ng-if="!vm.filter" onclick="goBack()"><i class="fa fa-angle-left fa-2x"></i></md-button><h1>Genres</h1>
    <ul>
        <li data-ng-repeat="listmovie in ::vm.listmovies">
            <a href ui-sref="root.movieCategory({id: listmovie.id, name:listmovie.name})"><img src="../../../../assets/images/{{listmovie.name}}.png" alt="{{listmovie.name}}">{{listmovie.name}}</a>
            <span class="resultsByCategory">
                <movie-category data-filter="5" data-id="{{listmovie.id}}"></movie-category>
            </span>
        </li>
    </ul>
</div>