<div class="homeView">
    <h1 data-ng-if="!vm.filter"><button data-ng-if="!vm.filter" onclick="goBack()"><i class="fa fa-angle-left"></i></button>Tv Shows Airing Today</h1>
    <div class="results">
        <ul>
            <li data-ng-repeat="airing in ::vm.airings">
                <a href ui-sref="root.tvDetail({id: airing.id})">
                    <img data-ng-if="airing.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ airing.poster_path }}" alt="{{airing.name}}">
                </a>
            </li>
        </ul>
    </div>
    <a data-ng-if="vm.pageToReload" href ui-sref="root.tvAiring({page: vm.pageToReload})">Previous Results</a>
    <a data-ng-if="vm.pageToLoad && !vm.filter" href ui-sref="root.tvAiring({page: vm.pageToLoad})">More Results</a>
    <h1><a data-ng-if="vm.filter" href ui-sref="root.tvAiring({page: vm.page})">Tv Shows Airing Today</a></h1>
</div>