<div class="detailView" style="background: url(http://image.tmdb.org/t/p/w500/{{vm.detailpeople.profile_path}}) no-repeat fixed center;background-size: cover;" data-ng-cloak>
    <div class="lighter"></div>
    <div data-ng-if="!vm.filter" class="title">
        <md-button onclick="goBack()"><i class="fa fa-angle-left fa-2x"></i></md-button><h1>{{vm.detailpeople.name}}</h1>
    </div>

    <div class="rating" data-ng-if="vm.detailpeople.birthday">
        <h3>Birthday</h3>
        <p>{{vm.detailpeople.birthday | date}}</p>
    </div>


    <div class="release" data-ng-if="vm.detailpeople.deathday">
        <h3>Deathday</h3>
        <p>{{vm.detailpeople.deathday | date}}</p>
    </div>

    <div class="summary" data-ng-if="vm.detailpeople.place_of_birth">
        <h3>Place of Birth</h3>
        <p>{{vm.detailpeople.place_of_birth}}</p>
    </div>

    <div class="bio" data-ng-if="vm.detailpeople.biography">
        <h3>Biography</h3>
        <p>{{vm.detailpeople.biography}}</p>
    </div>

    <people-credits></people-credits>
</div>