<div class="detailView" style="background: url(http://image.tmdb.org/t/p/w500/{{vm.detailmovie.backdrop_path}}) no-repeat fixed center;background-size: cover;" data-ng-cloak>
    <div class="lighter"></div>
    <div data-ng-if="!vm.filter" class="title">
        <md-button ng-click="goBack()"><i class="fa fa-angle-left fa-2x"></i></md-button><h1>{{vm.detailmovie.title}}</h1>
    </div>
    <div class="cat">
        <ul>
            <li data-ng-repeat="genre in ::vm.detailmovie.genres">
                <a href ui-sref="root.movieCategory({id: genre.id, name: genre.name})">{{genre.name}}</a>
            </li>
        </ul>
    </div>

    <movie-video data-id="{{vm.detailmovie.id}}" data-filter="1"></movie-video>

    <div class="rating">
        <h3>Rating</h3>
        <p>{{vm.detailmovie.vote_average}}/10</p>
    </div>

    <div class="release">
        <h3>Release Date</h3>
        <p>{{vm.detailmovie.release_date | date}}</p>
    </div>

    <movie-credits data-filter="5"></movie-credits>

    <div class="summary">
        <h3>Summary</h3>
        <p>{{vm.detailmovie.overview}}</p>
    </div>

    <movie-similar></movie-similar>
</div>