<div class="homeView">
    <div data-ng-if="!vm.filter" class="title">
        <md-button ng-click="goBack()"><i class="fa fa-angle-left fa-2x"></i></md-button><h1>Top Rated Tv Shows</h1>
    </div>
    <div data-ng-if="vm.filter" class="results">
        <ul>
            <li data-ng-repeat="ratedtv in ::vm.ratedtvs">
                <a href ui-sref="root.tvDetail({id: ratedtv.id})">
                    <img data-ng-if="ratedtv.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ ratedtv.poster_path }}" alt="{{ ratedtv.name }}">
                    <div data-ng-if="!ratedtv.poster_path" class="randomPic"><i class="fa fa-user fa-3x"></i><p>{{ratedtv.name}}</p></div>
                </a>
            </li>
        </ul>
    </div>
    <div data-ng-if="!vm.filter" class="resultsAll">
        <ul>
            <li data-ng-repeat="ratedtv in ::vm.ratedtvs">
                <a href ui-sref="root.tvDetail({id: ratedtv.id})">
                    <img data-ng-if="ratedtv.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ ratedtv.poster_path }}" alt="{{ ratedtv.name }}">
                    <div data-ng-if="!ratedtv.poster_path" class="randomPic"><i class="fa fa-user fa-3x"></i><p>{{ratedtv.name}}</p></div>
                </a>
                <tv-video data-filter="1" data-id="{{ratedtv.id}}"></tv-video>
            </li>
        </ul>
    </div>
    <div data-ng-if="!vm.filter" class="link">
        <a data-ng-if="vm.pageToReload" href ui-sref="root.tvRated({page: vm.pageToReload})">Previous Results - </a>
        <a data-ng-if="vm.pageToLoad && !vm.filter" href ui-sref="root.tvRated({page: vm.pageToLoad})">More Results</a>
    </div>
    <h1 data-ng-if="vm.filter"><a href ui-sref="root.tvRated({page: vm.page})">Top Rated Tv Shows</a></h1>
</div>