<div class="searchView">
    <div data-ng-if="!vm.filter" class="title">
        <md-button onclick="goBack()"><i class="fa fa-angle-left fa-2x"></i></md-button><h1>Search Results for : {{vm.query}}</h1>
    </div>
    <div>
        <ul>
            <h3>Movies</h3>
            <li data-ng-repeat="query in ::vm.querieslist" data-ng-if="query.media_type=='movie'">
                <a href ui-sref="root.movieDetail({id: query.id})">
                    <img data-ng-if="query.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ query.poster_path }}" alt="{{query.title}}">
                    <div data-ng-if="!query.poster_path" class="randomPic"><i class="fa fa-film fa-3x"></i><p>{{query.title}}</p></div>
                </a>
                <movie-video data-id="{{query.id}}" data-filter="1"></movie-video>
            </li>
            <h3>Tv Shows</h3>
            <li data-ng-repeat="query in ::vm.querieslist" data-ng-if="query.media_type=='tv'">
                <a href ui-sref="root.tvDetail({id: query.id})">
                    <img data-ng-if="query.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ query.poster_path }}" alt="{{query.name}}">
                    <div data-ng-if="!query.poster_path" class="randomPic"><i class="fa fa-tv fa-3x"></i><p>{{query.name}}</p></div>
                </a>
                <tv-video data-id="{{query.id}}" data-filter="1"></tv-video>
            </li>
            <h3>People</h3>
            <li data-ng-repeat="query in ::vm.querieslist" data-ng-if="query.media_type=='person'">
                <a href ui-sref="root.peopleDetail({id: query.id})">
                    <div data-ng-if="query.profile_path" class="customPic" style="background: url(http://image.tmdb.org/t/p/w500/{{query.profile_path}}) no-repeat center;background-size: cover;">
                        <p>{{query.name}}</p>
                    </div>
                    <div data-ng-if="!query.profile_path" class="randomPic"><i class="fa fa-user fa-3x"></i><p>{{query.name}}</p></div>
                </a>
            </li>
        </ul>
    </div>
</div>