<div>
    <h1><a data-ng-if="vm.filter" href ui-sref="root.tvPopular({page: vm.page})">Popular Tv Shows</a><span data-ng-if="!vm.filter">Popular Tv Shows</span></h1>
    <ul>
        <li data-ng-repeat="populartv in ::vm.populartvs">{{populartv.name}}
            <a href ui-sref="root.tvDetail({id: populartv.id})"><img data-ng-if="populartv.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ populartv.poster_path }}" alt="{{populartv.name}}"></a>
        </li>
    </ul>
    <a data-ng-if="vm.pageToReload" href ui-sref="root.tvPopular({page: vm.pageToReload})">Previous Results</a>
    <a data-ng-if="vm.pageToLoad && !vm.filter" href ui-sref="root.tvPopular({page: vm.pageToLoad})">More Results</a>
</div>