<div class="homeView">
    <div data-ng-if="!vm.filter" class="title">
        <md-button ng-click="goBack()"><i class="fa fa-angle-left fa-2x"></i></md-button><h1>Popular Tv Shows</h1>
    </div>
    <div data-ng-if="vm.filter" class="results">
        <ul>
            <li data-ng-repeat="populartv in ::vm.populartvs">
                <a href ui-sref="root.tvDetail({id: populartv.id})">
                    <img data-ng-if="populartv.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ populartv.poster_path }}" alt="{{ populartv.name }}">
                    <div data-ng-if="!populartv.poster_path" class="randomPic"><i class="fa fa-user fa-3x"></i><p>{{populartv.name}}</p></div>
                </a>
            </li>
        </ul>
    </div>
    <div data-ng-if="!vm.filter" class="resultsAll">
        <ul>
            <li data-ng-repeat="populartv in ::vm.populartvs">
                <a href ui-sref="root.tvDetail({id: populartv.id})">
                    <img data-ng-if="populartv.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ populartv.poster_path }}" alt="{{ populartv.name }}">
                    <div data-ng-if="!populartv.poster_path" class="randomPic"><i class="fa fa-user fa-3x"></i><p>{{populartv.name}}</p></div>
                </a>
                <tv-video data-filter="1" data-id="{{populartv.id}}"></tv-video>
            </li>
        </ul>
    </div>
    <div data-ng-if="!vm.filter" class="link">
        <a data-ng-if="vm.pageToReload" href ui-sref="root.tvPopular({page: vm.pageToReload})">Previous Results - </a>
        <a data-ng-if="vm.pageToLoad && !vm.filter" href ui-sref="root.tvPopular({page: vm.pageToLoad})">More Results</a>
    </div>
    <h1 data-ng-if="vm.filter"><a href ui-sref="root.tvPopular({page: vm.page})">Popular Tv Shows</a></h1>
</div>