<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li ui-ref-active="pure-menu-selected">
            <a href ui-sref="root.home">Accueil</a>
        </li>
        <li ui-ref-active="pure-menu-selected">
            <a href ui-sref="root.movieList">Movies</a>
        </li>
        <li ui-ref-active="pure-menu-selected">
            <a href ui-sref="root.tvList">Tv Shows</a>
        </li>
        <li>
            <form method="get" action ui-sref="root.search({id: test})">
                <input type="text" placeholder="Search" ng-model="test">
                <button type="submit">Rechercher</button>
            </form>
        </li>
    </ul>
</div>