<div class="col-xs-12 .col-md-12">
    <nav class="navbar navbar-inverse navbar-stactic-top" role=""navigation">
    <div class="menu">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">TESt</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href ui-sref="root.home">Accueil</a>
                </li>
                <li>
                    <a href ui-sref="root.movieList">Movies</a>
                </li>
                <li>
                    <a href ui-sref="root.tvList">Tv Shows</a>
                </li>
                <li>
                    <form method="get" action ui-sref="root.search({id: test})">
                        <input type="text" placeholder="Search" ng-model="test">
                        <md-button class="md-raised md-primary" type="submit">Rechercher</md-button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    </nav>
</div>