<div class="col-xs-12 .col-md-12">
    <nav class="navbar navbar-inverse navbar-stactic-top" role=""navigation">
    <div class="menu">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">TESt</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href ui-sref="root.movies">Movies</a>
                </li>
                <li>
                    <a href ui-sref="root.series">Series</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
</div>