<div class="resultsVideo">
    <h3 data-ng-if="!vm.filter">Videos</h3>
    <ul ng-init="toLoad=false">
        <li data-ng-repeat="videotv in ::vm.videostv" class="mediaContainer">
            <button class="videoMedia" ng-click="toLoad=true"><i class="fa fa-play"></i></button>
            <span ng-show="toLoad">
                <div class="closeIframe" ng-click="toLoad=false">X</div>
                <div class="opack" ng-click="toLoad=false"></div>
                <tv-iframe data-code="{{videotv.key}}" data-ng-if="toLoad"></tv-iframe>
            </span>
        </li>
    </ul>
</div>