<div class="peopleCredits">
    <h4>Movies Appearances</h4>
    <div class="similar">
        <ul>
            <li data-ng-repeat="creditspeople in ::vm.creditspeoples" data-ng-if="creditspeople.media_type == 'movie' ">
                <a href ui-sref="root.movieDetail({id: creditspeople.id})">
                    <img data-ng-if="creditspeople.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ creditspeople.poster_path }}" alt="{{creditspeople.title}}">
                </a>
            </li>
        </ul>
    </div>
    <h4>Tv Shows Appearances</h4>
    <div class="similar">
        <ul>
            <li data-ng-repeat="creditspeople in ::vm.creditspeoples" data-ng-if="creditspeople.media_type == 'tv'">
                <a href ui-sref="root.tvDetail({id: creditspeople.id})">
                    <img data-ng-if="creditspeople.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ creditspeople.poster_path }}" alt="{{creditspeople.name}}">
                </a>
            </li>
        </ul>
    </div>
</div>