<div>
    <h1><a data-ng-if="vm.filter" href ui-sref="root.movieUpcoming({page: vm.page})">Upcoming Movies</a><span data-ng-if="!vm.filter">Upcomings Movies</span></h1>
    <ul>
        <li data-ng-repeat="upcoming in ::vm.upcomings">{{upcoming.title}}
            <a href ui-sref="root.movieDetail({id: upcoming.id})"><img data-ng-if="upcoming.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}" alt="{{upcoming.title}}"></a>
            <movie-video data-id="{{upcoming.id}}" data-filter="1"></movie-video>
        </li>
    </ul>
    <a data-ng-if="vm.pageToReload" href ui-sref="root.movieUpcoming({page: vm.pageToReload})">Previous Results</a>
    <a data-ng-if="vm.pageToLoad && !vm.filter" href ui-sref="root.movieUpcoming({page: vm.pageToLoad})">More Results</a>
</div>