<div class="creditsTv">
    <div class="cast">
        <h3>Cast</h3>
        <ul>
            <li data-ng-repeat="creditstv in ::vm.creditstvs">
                <a href ui-sref="root.peopleDetail({id: creditstv.id})">
                    {{creditstv.name}}
                    <img data-ng-if="creditstv.profile_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ creditstv.profile_path }}">
                    <div data-ng-if="!creditstv.profile_path" class="randomPic"><i class="fa fa-user fa-3x"></i><p>{{creditstv.name}}</p></div>
                </a>
            </li>
        </ul>
    </div>
</div>