/*hamburger*/
.navbar, .navbar-inverse {
  border: none;
  margin-bottom: 0;
  background-color: $orange;
  .navbar-header {
    @media #{$tablet} {
      display:inline-block !important;
    }
    .navbar-toggle {
      float: left;
      margin-left:10px;
      margin-bottom:4px;
      padding:11px 10px;
      border: none;
      &:focus, &:hover {
        background-color: transparent;
      }
      .icon-bar {
        background-color:#fff;
      }
    }
  }
  .navbar-collapse {
    border-color:#fff;
    @media #{$desktop} {
      display:inline-block !important;
    }
    .navbar-nav {
      display:block;
      margin:0;
      li {
        display: inline;
        color: white;
        text-align: center;
        a {
          color: #fff;
          font-size: 1.2em;
          font-weight: 300;
          padding: 20px;
          @media #{$desktop} {
            font-size: 1.7em;
            &:hover {
              color: #d9d9d9;
              transition: color 0.5s ease;
            }
          }
        }
      }
    }
  }
  form {
    position : absolute;
    top:0;
    right:0;
    display:inline-block;
    margin-top: 5px;
    @media #{$desktop} {
      float:right;
      margin-top: 12px;
    }
    .md-input-has-placeholder {
      display:none;
      margin:0 !important;
      width: 100px;
      border-color:#fff;
      color:#fff;
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #fff;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #fff;
        opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #fff;
      }
      .md-input {
        border-color:#fff;
        padding:0;
        padding-top:7px;
        color:#fff;
        &:focus {
          border-color:#fff;
        }
      }
    }
    .md-button {
      color:#fff;
      font-size: 1.7em;
      padding:0;
      margin:0;
      min-width:60px;
      @media #{$desktop} {
        font-size: 2em;
      }
      &:hover {
        background-color: transparent;
      }
      @media #{$desktop} {
        &:hover {
          color: #d9d9d9;
          transition: color 0.5s ease;
        }
      }
    }
  }
}
