/*hamburger*/
.navbar, .navbar-inverse {
  border: none;
  margin-bottom: 0;
  background-color: $orange;
  .navbar-header {
    @media #{$tablet} {
      display:inline-block !important;
    }
    .navbar-toggle {
      display: inline-block;
      float: left;
      margin-left:10px;
      margin-bottom:4px;
      padding:11px 10px;
      border: none;
      &:focus, &:hover {
        background-color: transparent;
      }
      .icon-bar {
        background-color:#fff;
      }
    }
    h2 {
      display:inline-block;
      margin: 11px 56px;
      color:#fff;
    }
  }
  .navbar-collapse {
    border-color:#fff;
    @media #{$desktop} {
      display:inline-block !important;
    }
    .navbar-nav {
      display:block;
      margin:0;
      li {
        display: inline;
        color: white;
        text-align: center;
        a {
          color: #fff;
          font-size: 1.2em;
          font-weight: 300;
          padding: 20px;
          @media #{$desktop} {
            font-size: 1.7em;
            &:hover {
              color: #d9d9d9;
              transition: color 0.5s ease;
            }
          }
        }
      }
    }
  }
  form {
    position : absolute;
    top:0;
    right:0;
    display:inline-block;
    margin-top: 5px;
    @media #{$desktop} {
      float:right;
      margin-top: 12px;
    }
    .md-input-has-placeholder {
      display:none;
      margin:0 !important;
      padding:0;
      width: 100px;
      border-color:#fff;
      color:#fff;
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #fff;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #fff;
        opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #fff;
      }
      .md-input {
        border-color:#fff;
        padding:0;
        padding-top:7px;
        color:#fff;
        &:focus {
          border-color:#fff;
        }
      }
    }
    .md-button {
      color:#fff;
      font-size: 1.5em;
      padding:0;
      margin:0;
      margin-top:6px;
      min-width:60px;
      @media #{$desktop} {
        font-size: 2em;
      }
      &:hover {
        background-color: transparent;
      }
      @media #{$desktop} {
        &:hover {
          color: #d9d9d9;
          transition: color 0.5s ease;
        }
      }
    }
  }
}
.autocomplete {
  display:none;
  position:absolute;
  left:10px;
  width:90%;
  background-color: #fff;
  color:#000;
  font-family: 'Open Sans', Arial, sans-serif;
  z-index:10;
  ul {
    li {
      display:block;
      padding: 20px 0;
      border-bottom : 1px solid #7c7c7c;
      background-color: #000;
      a {
        color:#7c7c7c;
        margin-left:10px;
        opacity: 1 !important;
      }
      span {
        float : right;
        margin-right: 10px;
        padding:5px;
        border-radius: 2px;
        box-shadow: 0 2px 2px   #303030;
        color:#fff;
        text-transform: uppercase;
        text-align: center;
      }
      .movie {background-color: #3A539B;}
      .tv {background-color: #26C281;}
      .people {background-color: #F64747;}
    }

  }
}
