//General

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.mainContent {
  margin-top:54px;
  @media #{$desktop} {
    margin-top:70px;
  }
  background-color: $medOrange;
  padding:0 !important;;
}

//Home

.homeView {
  text-align: center;
  ::-webkit-scrollbar {
    display:none;
  }
  h1 {
    margin:20px;
    font-size: 1.2em;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  .results {
    overflow-y: hidden;
    ul {
      display: inline-flex;
      overflow-y: hidden;
      overflow-x: scroll;
    }
  }
}

//Category
.listMedia {
  color:#fff;
  text-align: center;
  .md-button {
    vertical-align: sub;
    padding:0;
    margin:0;
    margin:10px 0;
    min-width:0;
  }
  h1{
    display:inline;
    margin:20px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
  }
  ul {
    text-align:center;
    li {
      display:inline-block;
      margin:3%;
      a {
        img {
          display:block;
          width:100px;
        }
      }
      .resultsByCategory {
        @media #{$tablet} {
          display:none;
        }
      }
    }
  }
}



//iframes
.closeIframe {
  display:block;
  position:fixed;
  top:9%;
  right:9%;
  width:30px;
  height:30px;
  background-color: #000;
  border: 3px solid #fff;
  text-align: center;
  color:#fff;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 50%;
  z-index:20000;
  cursor: pointer;
}

.opack {
  display:block;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0, 0.8);
}

.fluidvids {
  width: 100%;
  position: fixed;
  iframe {
    border: 0;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
  }
}

//footer
.footer {
  background-color: #777;
  text-align:center;
  padding:25px;
  a {
    color:#fff;
  }
}
