//General

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.mainContent {
  margin-top:54px;
  @media #{$desktop} {
    margin-top:70px;
  }
  background-color: $medOrange;
  padding:0 !important;;
}

//iframe
.closeIframe {
  display:block !important;
  position:fixed !important;
  top:9% !important;
  right:9%;
  width:30px;
  height:30px;
  margin:0 !important;;
  background-color: #000;
  border: 3px solid #fff;
  text-align: center;
  color:#fff;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 50%;
  z-index:20000;
  cursor: pointer;
}
.opack {
  display:block !important;
  position:fixed !important;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0, 0.8);
  z-index:500;
}
.fluidvids {
  width: 100%;
  position: fixed;
  display:block !important;
  opacity:1 !important;
  z-index:550;
  iframe {
    border: 0;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    z-index:600;
  }
}

// Home / By Category

.homeView {
  text-align: center;
  color:#fff;
  ::-webkit-scrollbar {
    display:none;
  }
  .title {
    padding:25px 10px;
    .md-button {
      float:left;
      vertical-align: sub;
      margin:0;
      min-width:0;
    }
    h1 {
      display:inline-block;
      margin:0;
      vertical-align: -webkit-baseline-middle;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      text-align:center;
    }
  }
  .results { //Home
    overflow-y: hidden;
    ul {
      display: inline-flex;
      overflow-y: hidden;
      overflow-x: scroll;
      li {
        a {
          img {
            width:125px;
            height:187.5px;
          }
        }
      }
    }
  }
  .resultsAll{ //By Category
    overflow-x: hidden;
    ul {
      overflow-x: hidden;
      li {
        display: inline-block;
        width:187.5px;
        max-height:281.25px;
        a {
          img {
            width:187.5px;
            height:281.25px;
          }
        }
        div {
          display:inline-block;
          position:relative;
          top:-120px;
          margin-top:-50px;
          ul {
            .mediaContainer {
              width:auto;
              max-height: none;
              background-color: $orange;
              padding:10px;
              border-radius:50%;
              .videoMedia {
                background-color: transparent;
                padding:3px 8px;
                border:3px solid #fff;
                border-radius: 50%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .link {
    text-align:center;
    padding:20px;
    display: inline-block;
  }
  h1 {
    margin:20px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
  }
}

//List Category
.listMedia {
  color:#fff;
  text-align: center;
  div {
    padding:25px 10px;
    .md-button {
      float:left;
      vertical-align: sub;
      margin:0;
      min-width:0;
    }
    h1 {
      display:inline-block;
      margin:0;
      vertical-align: -webkit-baseline-middle;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      text-align:center;
    }
  }
  ul {
    text-align:center;
    li {
      display:inline-block;
      margin:3%;
      a {
        font-size: 0.8em;
        img {
          display:block;
          width:100px;
        }
      }
      .resultsByCategory {
        @media #{$tablet} {
          display:none;
        }
      }
    }
  }
}

//Movie Detail

.detailView {
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  padding-bottom:30px;
  .lighter {
    display:block !important;
    position:fixed !important;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(174, 101, 59, 0.4);
  }
  .title {
    position:relative;
    width:100%;
    height:50px;
    padding:8px 0;
    background-color: rgba(228, 119, 72, 0.7);
    text-align: center;
    .md-button {
      float:left;
      display: inline-block;
      margin:0;
      min-width:0;
      i {
        vertical-align: sub;
      }
    }
    h1 {
      vertical-align: bottom;
      font-family: 'Corbert', sans-serif;
      display:inline-block;
      margin:0;
      margin-bottom: -5px;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      text-align:center;
    }
  }
  .cat {
    position:relative;
    ul {
      text-align:center;
      :last-child {
        border-right: none;
      }
      li {
        display: inline-block;
        font-size: 1.1em;
        font-weight: bold;
        padding: 0 7px;
        margin:7px 0;
        border-right: 2px solid #fff;
      }
    }
  }
  .resultsVideo {
    position:relative;
    width:100%;
    text-align: center;
    margin-top:20px;
    ul {
      .mediaContainer {
        width:80px;
        height:80px;
        max-height: none;
        background-color: $detailOrange;
        margin:0 auto;
        padding:14px;
        border-radius:50%;
        .videoMedia {
          width:50px;
          height:50px;
          background-color: transparent;
          padding:11px 15px;
          border:3px solid #fff;
          border-radius: 50%;
          text-align: center;
          i {
            font-size: 1.7em;
          }
        }
      }
    }
  }
  .rating, .release {
    position:relative;
    display:inline-block;
    width:49%;
    text-align: center;
    font-weight: bold;
    h3{
      font-size:1.5em;
      font-weight: bold;
    }
    p {
      font-size:1.2em;
    }
  }
  .summary {
    position: relative;
    display:block;
    width:100%;
    text-align: center;
    font-weight: bold;
    h3{
      font-size:1.5em;
      font-weight: bold;
    }
    p {
      font-size:1em;
    }
  }
  .credits {
    position:relative;
    display:block;
    width:100%;
    text-align: center;
    font-weight: bold;
    .crew, .cast {
      display:inline-block;
      width:49%;
      vertical-align: top;
      h3{
        font-size:1.5em;
        font-weight: bold;
      }
      ul {
        li {
          a {
            font-size:1.1em;
            font-weight: bold;
            img {
              @media #{$tablet} {
                display:none;
              }
            }
          }
        }
      }
    }
  }
  h3{
    position: relative;
    text-align: center;
    font-size:1.5em;
    font-weight: bold;
  }
  .similar {
    position:relative;
    display:block;
    width:100%;
    text-align: center;
    font-weight: bold;
    overflow-y: hidden;
    margin:6% 0;
    h3{
      font-size:1.5em;
      font-weight: bold;
    }
    ul {
      display: inline-flex;
      overflow-y: hidden;
      overflow-x: scroll;
      li {
        a {
          img {
            width:125px;
            height:187.5px;
          }
        }
      }
    }
  }
}
//footer
.footer {
  position:relative;
  background-color: #777;
  text-align:center;
  padding:25px;

  a {
    color:#fff;
  }
}
