<div class="homeView">
    <div data-ng-if="!vm.filter" class="title">
        <md-button onclick="goBack()"><i class="fa fa-angle-left fa-2x"></i></md-button><h1>{{vm.name}}</h1>
    </div>
    <div data-ng-if="vm.filter" class="results">
        <ul>
            <li data-ng-repeat="categorymovie in ::vm.categorymovies">
                <a href ui-sref="root.movieDetail({id: categorymovie.id})">
                    <img data-ng-src="http://image.tmdb.org/t/p/w500/{{ categorymovie.poster_path }}" alt="{{ categorymovie.title }}">
                </a>
            </li>
        </ul>
    </div>
    <div data-ng-if="!vm.filter" class="resultsAll">
        <ul>
            <li data-ng-repeat="categorymovie in ::vm.categorymovies">
                <a href ui-sref="root.movieDetail({id: categorymovie.id})">
                    <img data-ng-src="http://image.tmdb.org/t/p/w500/{{ categorymovie.poster_path }}" alt="{{ categorymovie.title }}">
                </a>
                <movie-video data-filter="1" data-id="{{categorymovie.id}}"></movie-video>
            </li>
        </ul>
    </div>
    <div data-ng-if="!vm.filter" class="link">
        <a data-ng-if="vm.pageToReload" href ui-sref="root.movieCategory({id: vm.id, page: vm.pageToReload})">Previous Results - </a>
        <a data-ng-if="vm.pageToLoad && !vm.filter" href ui-sref="root.movieCategory({id: vm.id, page: vm.pageToLoad})">More Results</a>
    </div>
</div>