<div>
    <h3 data-ng-if="vm.similartvs!=''">Similar Tv Shows</h3>
    <div class="similar">
        <ul>
            <li data-ng-repeat="similartv in ::vm.similartvs">
                <a href ui-sref="root.tvDetail({id: similartv.id})">
                    <img data-ng-if="similartv.poster_path" data-ng-src="http://image.tmdb.org/t/p/w500/{{ similartv.poster_path }}">
                    <div data-ng-if="!similartv.poster_path" class="randomPic"><i class="fa fa-user fa-3x"></i><p>{{similartv.name}}</p></div>
                </a>
            </li>
        </ul>
    </div>
</div>
