<div class="pure-g">
    <div class="pure-u-1 text-center">
        <p>&copy; 2015 - <a href="http://www.supdeweb.com">Sup2Web</a></p>
    </div>
    <div class="pure-u-1 text-center">
        <ul class="hlist">
            <li><a target="_blank" href="https://twitter.com/GuiRannaud">Twitter</a></li>
            <li><a target="_blank" href="https://www.facebook.com/guil.sippel">Facebook</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/profile/view?id=AAIAABHE7U4BkTe14K_zD4h6Q5kLpVDlbcNE-rE&trk">LinkedIn</a></li>
        </ul>
    </div>
</div>